@model SaloonVM
@{
    ViewData["Title"] = "AddSaloon";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSaloon</title>
</head>
<body>
    <div style="margin: 10px"><h1 style="text-align:center">Saloon Oluşturma Sayfası</h1></div>
    <div style="text-align:center"><h3>@TempData["SameSaloonAlert"]</h3></div>

    <hr />
    <div class="box-1">
        <form asp-action="AddSaloon" method="post" style="margin: 20px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <b class="form-label">Salon Adı</b>
                <input type="text" class="form-control" asp-for="SaloonDTO.Name" placeholder="Salon Adı">
                <span asp-validation-for="SaloonDTO.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <b class="form-label">Salon Kapasitesi</b>
                <input type="text" class="form-control" asp-for="SaloonDTO.Capacity" placeholder="Koltuk Kapasitesi">
                <span asp-validation-for="SaloonDTO.Capacity" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div> <b>Boyut Türü</b> </div>
                <label>2D</label>
                <input type="radio" asp-for="SaloonDTO.DimensionType" value="2D" />
                <span>|</span>
                <label>3D</label>
                <input type="radio" asp-for="SaloonDTO.DimensionType" value="3D" />
                <span asp-validation-for="SaloonDTO.DimensionType" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Salon Oluştur</button>
        </form>

    </div>

</body>
</html>

<style>
    .box-1 {
        width: 800px;
        height: auto;
    }
</style>

