@model SaloonVM
@{
    ViewData["Title"] = "AssignMovieToSaloon";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssignMovieToSaloon</title>
</head>
<body>
    <div style="text-align:center">
        <h2>Film Atama Sayfası</h2>
        <label>
            Bu sayfa üzerinden <b>'@Model.Saloon.Name'</b> isimli salona yeni film atayabilir, atanmış bir filmi değiştirebilirsiniz.
        </label>
    </div>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Saloon" asp-action="AssignMovieToSaloon" method="post">
                    <input type="hidden" asp-for="Saloon.ID" />

                    <div class="mb-3">
                        <label class="form-label">Aktif Film Listesi</label>
                        <select class="form-select" asp-items="Model.MoviesSelectList" asp-for="Movie.ID"></select>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Film Ata</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <h1 style="text-align:center">YAN KISIM</h1>
            </div>
        </div>
    </div>
</body>
</html>

