@model MovieVM
@{
    ViewData["Title"] = "AddMovie";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMovie</title>
</head>
<body>
    <div style="text-align:center">
        <div>
            <h1>Film Ekleme Sayfası</h1>
            <label>Bu sayfada yeni film ekleme işlemi yapabilirsiniz.</label>
        </div>
        <div class="errorMessage">
            <h5>@TempData["ErrorMessage"]</h5>
        </div>
    </div>

    <div class="container-xxl">
        <form asp-action="AddMovie" method="post" style="margin: 20px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label">Film Başlığı/Adı</label>
                <input type="text" class="form-control" asp-for="MovieDTO.Title" placeholder="Film Adı">
                <span asp-validation-for="MovieDTO.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Filmin Konusu</label>
                <textarea class="form-control" asp-for="MovieDTO.Content" rows="3" cols="50" placeholder="Filmin Konusu"></textarea>
                <span asp-validation-for="MovieDTO.Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                @{
                    foreach (var item in Model.Genres)
                    {
                        <label>@item.Name:</label>
                        <input type="radio" asp-for="MovieDTO.Genre" value="@item.Name" />
                        <span>|</span>
                    }
                    <span asp-validation-for="MovieDTO.Genre" class="text-danger"></span>
                }
            </div>
            <div class="mb-3">
                <label class="form-label">Süre</label>
                <input type="text" class="form-control" asp-for="MovieDTO.Duration" placeholder="Süre">
                <span asp-validation-for="MovieDTO.Duration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Yayın Tarihi</label>
                <input type="date" class="form-control" asp-for="MovieDTO.ReleaseDate">
                <span asp-validation-for="MovieDTO.ReleaseDate" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Film Kaydet</button>
        </form>
    </div>
</body>
</html>

