
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListMovies</title>
</head>
<body>
    <h1>ListMovies</h1>
    <div>
        <b>@TempData["ProcessCompleted"]</b>
    </div>
</body>
</html>
